@import "../../main";

.Projects {
    padding-top: $padding-big;
    padding-bottom: 5rem;
  
    color: $color-white;
  
    display: flex;
    justify-content: space-between;
  
  
    &__column {
      width: 33%;
  
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
    &__project {
      background: #232323;
      margin-bottom: 15rem;
      padding-top: 10rem;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-bottom: 5rem;
  
      display: flex;
      flex-direction: column;
      align-items: center;
  
      position: relative;
  
      &__name {
        margin-top: 1rem;
        
        text-align: center;
        font-weight: bold;
      }
      &__for {
        margin-top: 0.5rem;
        text-align: center;
      }
      &__what {
        margin-top: 0.5rem;
  
        text-align: center;
        color: $color-primary;
      }
      &__description {
        margin-top: 2rem;
      }
      &__icon {
        width: 20rem;
        height: 20rem;
  
        position: absolute;
        top: -10rem;
        left: 50%;
        transform: translateX(-50%);
  
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  