@import '../../main';

.paragraph {
  margin-bottom: 1.5rem;
  max-width: 90rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  font-size: $font-size-regular;
  line-height: 138%;
  font-weight: 400;
  letter-spacing: .5px;

  @media screen and (max-width: 1200px) {
    max-width: 80rem;
  }
  @media screen and (max-width: 900px) {
    max-width: 70rem;
  }
  @media screen and (max-width: 500px) {
    max-width: 60rem;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
  }

  color: $color-white;

  &--center {
    text-align: center;
  }
  &--small {
    font-size: $font-size-small;
  }

  // & span {
  //   border-bottom: 2px solid $color-white;
  // }
}
