@import "../../main";

.heading2 {
  font-size: $font-size-medium;
  color: $color-white;
  letter-spacing: .5px;
  width: 100rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-weight: 500;
  line-height: 138%;

  &--danger {
    color: $color-danger;
  }
  &--light {
    color: $color-grey;
  }

  span.underline.secondary {
    border-bottom: 2px solid $color-secondary;
  }

  @media only screen and (max-width: 1200px) {
    max-width: 90rem;
    font-size: 3.4rem;
  }
  @media screen and (max-width: 900px) {
    max-width: 70rem;
  }
  @media screen and (max-width: 500px) {
    max-width: 60rem;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}
