@import "../../main";

.cta {
  padding: 3rem 5rem;
  max-width: 100%;
  background-color: $color-primary-3;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1rem;

  color: $color-white;
  font-weight: $weight-bold;
  font-size: $font-size-medium;

  @media only screen and (max-width: 500px) {
    font-size: $font-size-regular;
  }
}
