@import '../../main';

.Author {
    background-color: $color-background-2;
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    .heading2 {
        margin-bottom: 5rem;
        
        font-weight: 900;
        font-family: 'Jost', sans-serif;
        color: $color-secondary;
    }
    &__card {
        display: flex;
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $padding-big/2;

        @media screen and (max-width: 600px) {
            width: 50rem;
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }

        &__left {
            margin-right: 5rem;
            justify-content: center;
            display: flex;
            flex-direction: column;
            // flex-shrink: 1;
            flex-basis: 50rem;

            @media screen and (max-width: 600px) {
               margin-right: 0;
            }
            @media screen and (max-width: 900px) {
                flex-basis: 30rem;
            }
            @media screen and (max-width: 600px) {
                width: 20rem;
                margin-bottom: 2rem;
            }
            img {
                width: 100%;
            }
        }
        &__right {
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        &__paragraphs {
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            p:first-child {
                margin-bottom: 2rem;
            }
        }
    }
}