@import "../../main";

.heading3 {
  color: $color-secondary;
  font-size: $font-size-medium;
  text-align: center;
  width: 95rem;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 850px) {
    width: 80%;
  }
  @media only screen and (max-width: 700px) {
    font-size: 3.2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (max-width: 550px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
  }

  &--center {
    text-align: center;
  }
  &--danger {
    color: $color-danger;
  }
  &--light {
    color: $color-grey;
  }
}
