@import '../../main';

.ForYou {
    background-color: $color-background-2;
    padding-top: $padding-big/2;
    padding-bottom: $padding-big;

    .heading1 {
        margin-bottom: $padding-big/2;

        font-size: $font-size-big;
    }
    .heading2 {
        margin-top: $padding-big/2;
        margin-bottom: $padding-big/2;

        font-weight: 900;
    }
    .bigMargin {
        margin-top: $padding-big !important;
    }
    &__Card {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $padding-big/4;
        margin-top: $padding-big/4;
        width: max-content;

        color: $color-white;

        display: flex;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }

        &__left {
            margin-right: 2rem;
        }
        &__right {
            @media screen and (max-width: 600px) {
                margin-top: 2rem;
                text-align: center;
            }
        }
    }
    &__button {
        background-color: $color-primary-4;
        width: 85.5rem;
        border-radius: 1.5rem;
        outline: none;
        border: none;
        cursor: pointer;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        color: $color-white;
        font-size: 4.2rem;
        font-family: 'Itim', sans-serif;

        display: block;
        margin-left: auto;
        margin-right: auto;
        
        text-shadow: 0px 1px 4px rgba(black, .35);

        transition: all .5s;

        &:hover {
            background-color: #0e9931;
            transform: translateY(2px);
        }

        @media screen and (max-width: 600px) {
            width: 60rem;
        }
        @media screen and (max-width: 500px) {
            width: 50rem;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}