@import "../../main";

.FixedAction {
  max-width: 24rem;
  padding: 3rem !important;
  background-color: black;
  opacity: 0.15;
  border-top-left-radius: 1.5rem;

  font-size: $font-size-extra-small;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;

  transition: all 0.1s ease-in;

  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 1000px) {
    display: none;
  }

  & p {
    text-align: center;
    margin-bottom: 1rem;
  }

  & button {
    width: 100%;
    padding: 1rem;

    font-size: $font-size-extra-small;
  }
}
