@import '../../main';

.Rules {
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    @media only screen and (max-width: 900px) {
        padding-bottom: $padding-medium;
    }

    .heading2 {
        color: $color-primary;
        font-weight: 900;
        font-family: 'Jost', sans-serif;

        &:not(:first-of-type) {
            margin-top: $padding-big;
        }
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(7),
        &:nth-of-type(8),
        &:nth-of-type(9) {
            margin-top: $padding-big/2;
            margin-bottom: $padding-big/2;

            color: white;
            font-weight: 500;
        }
    }
    .center {
        text-align: center;
    }
    .larger {
        max-width: 100rem;

        @media screen and (max-width: 900px) {
            max-width: 80rem;
        }
        @media screen and (max-width: 600px) {
            max-width: 70rem;
        }
    }
    .margin {
        margin-top: $padding-big/2;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: $padding-big;
        margin-bottom: $padding-big/2;
        width: 80rem;

        display: block;

        @media screen and (max-width: 900px) {
            width: 60rem;
        }
        @media screen and (max-width: 500px) {
            width: 55rem;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}