@import '../../main';

.Introduction {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big;

    &__heading2 {
        margin-top: $padding-big/2;

        color: $color-secondary;

        &:nth-of-type(2) {
            margin-bottom: $padding-big/2;
            
            color: $color-primary;
            font-weight: 900;
        }
    }
}