@import "../../main";

.heading1 {
  width: 100rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-weight: 800;
  font-size: $font-size-big;
  font-family: 'Jost', 'sans-serif';
  text-transform: uppercase;
  color: $color-white;

  @media only screen and (max-width: 850px) {
    width: 80%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 5rem;
  }
  @media only screen and (max-width: 700px) {
    width: 90%;
  }
  @media only screen and (max-width: 550px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 450px) {
    text-align: center;
    // text-align: left;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
  }

  &--center {
    text-align: center !important;
  }
  &--primary {
    color: $color-primary;
  }
  &--danger {
    color: $color-danger;
  }
  &--white {
    color: $color-white;
  }

  // span {
  //   text-decoration: underline;
  // }
}
