@import "../../main";

.MainProjects {
  margin-top: $padding-big;
  padding-left: 10rem !important;
  padding-right: 10rem !important;

  @media screen and (max-width: 1200px) {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  @media screen and (max-width: 600px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}