@import '../../main';

.Growth {
    margin-top: $padding-big;

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: $padding-big/2;
        margin-bottom: $padding-big/2;
        width: 80rem;

        display: block;

        @media screen and (max-width: 900px) {
            width: 70rem;
        }
        @media screen and (max-width: 500px) {
            width: 55rem;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
    .heading2 {
        margin-bottom: $padding-big/2;

        &:not(:first-of-type) {
            margin-top: $padding-big/2;
        }
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(4),
        &:nth-of-type(8),
        &:nth-of-type(11),
        &:nth-of-type(9) {
            font-weight: 900;
            font-family: 'Jost', sans-serif;
            color: $color-primary;

            &:nth-of-type(5) {
                color: $color-white;
            }
            &:nth-of-type(11) {
                font-weight: 500;
            }
        }
        &:nth-of-type(3),
        &:nth-of-type(9),
        &:nth-of-type(4) {
            margin-top: $padding-big;
        }
    }
    .heading1 {
        margin-bottom: $padding-big/2;

        font-size: $font-size-big;
        text-transform: none;
    }
    .center {
        text-align: center;
    }
}