@import '../../main';

.Sometimes {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big/2;

    .heading2 {
        margin-bottom: $padding-big/2;

        &:nth-of-type(2),
        &:nth-of-type(5),
        &:nth-of-type(7) {
            color: $color-primary;
            font-weight: 900;
        }
        &:nth-of-type(2),
        &:nth-of-type(5),
        &:nth-of-type(7) {
            margin-top: $padding-big;
        }
        &:nth-of-type(3),
        &:nth-of-type(6) {
            margin-top: $padding-big/2;
        }
    }
}