@import "../../main";

.Header {
  padding-top: $padding-big/2;
  padding-bottom: $padding-big;

  position: relative;

  @media screen and (max-width: 700px) {
    padding-top: $padding-big;
  }
  @media screen and (max-width: 500px) {
    min-height: 80vh;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
  }

  &__heading1 {
    margin-bottom: 5rem;

    font-weight: bolder;
    font-family: "Jost", sans-serif;

    @media only screen and (min-width: 1100px) {
      font-size: 7.2rem !important; 
    }

    span {
      color: $color-primary;
    }
  }

  &__heading2 {
    margin-bottom: $padding-medium;

    font-family: "Itim", sans-serif;
    font-size: 4.2rem !important;

    @media screen and (max-width: 550px) {
      font-size: $font-size-medium !important;
    }

    span {
      color: $color-secondary;
    }
  }
}
