@import '../../main';

.Why {
    background-color: $color-background-2;
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    &__heading1 {
        color: $color-primary;
    }
    &__heading2 {
        margin-top: $padding-big/2;

        font-weight: 500;
        color: $color-secondary;

        &:nth-of-type(1) {
            text-transform: uppercase;
        }
        &:nth-of-type(3) {
            margin-bottom: $padding-big/2;

            font-weight: 900;
            font-family: 'Jost', sans-serif;
        }
        &:nth-of-type(4) {
            font-weight: 900;
            font-family: 'Jost', sans-serif;
            color: $color-danger;
        }
    }
    &__picture {
        width: 66rem;
        margin-top: $padding-big/2;
        margin-bottom: $padding-big/4;
        margin-left: auto;
        margin-right: auto;

        display: block;

        @media screen and (max-width: 500px) {
            width: 45rem;
        }
    }
}