@import '../../main';

.Thing {
    background-color: $color-background-2;
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    img {
        margin-left: auto;
        margin-right: auto;
        width: 80rem;
        
        display: block;

        @media screen and (max-width: 900px) {
            width: 70rem;
        }
        @media screen and (max-width: 500px) {
            width: 55rem;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }

    .heading1 {
        font-size: $font-size-big;
        margin-bottom: $padding-big/2;
    }
    .heading2 {
        margin-top: $padding-big/2;
        margin-bottom: $padding-big/2;
    }
}