@import "./main";

@font-face {
  font-family: "Architects Daughter";
  src: url("assets/architectsdaughter-webfont.woff2") format("woff2"),
    url("assets/architectsdaughter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: $color-background;

  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  letter-spacing: 1.5px;

  @media screen and (max-width: 1700px) {
    font-size: 54%;
  }
  @media screen and (max-width: 1400px) {
    font-size: 48%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 750px) {
    font-size: 41.5%;
  }
}

body {
  color: $color-black;
  font-size: $font-size-regular;
}

.Footnote {
  padding-bottom: $padding-big/2;
  padding-top: $padding-big/2;

  color: #484848;

  font-size: 17px;
  text-align: center;

  &__a {
    text-decoration: none;
    color: #484848;
  }

  @media screen and (max-width: 900px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

#cookie-bar {
  height: 20vh;
  padding-left: 8rem !important;
  padding-right: 8rem !important;

  font-size: 2rem !important;

  display: flex !important;
  align-items: center;

  a {
    text-align: center;
  }

  @media screen and (max-width: 700px) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;

    p {
      margin-right: 4rem !important;
    }
  }
  @media screen and (max-width: 500px) {
    height: 30rem;

    flex-direction: column;

    p {
      width: 80% !important;

      margin-right: 0 !important;
      margin-top: 4rem !important;
      margin-bottom: 4rem !important;
    }
  }
}
#cookie-bar-button {
  width: 40rem;
  height: 10rem;
  margin-left: auto;

  display: flex !important;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

ul {
  margin-top: 5rem;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;

  span {
    color: $color-secondary;
  }
}

span.underline {
  border-bottom: 2px solid $color-white;
}
span.underline.secondary {
  border-bottom: 2px solid $color-secondary;
}
span.underline.primary {
  border-bottom: 2px solid $color-primary;
}
span.secondary {
  color: $color-secondary;
}
span.primary {
  color: $color-primary;
}
span.red {
  color: $color-danger;
}

.App > div {
  padding-left: 2rem;
  padding-right: 2rem;
}
