// Colors
// Edit colors as you need
$color-primary: #56f83b;
$color-primary-2: #56f83b80;
$color-primary-3: #37882a;
$color-primary-4: #56b62e;
$color-secondary: #f2cb05;

$color-danger: #ff0f00;
$color-action: #e8b66c;
$color-action-dark: #76400d;

$color-background-2: #1d1d1d;
$color-background:#191919;

$color-black: black;
$color-grey: #a7a7a7;
$color-white: #ffffff;

// Font sizes
$font-size-extra-small: 1.8rem;
$font-size-small: 2rem;
$font-size-regular: 2.6rem;
$font-size-medium: 3.6rem;
$font-size-big: 5.4rem;
$font-size-large: 7.2rem;

// Font weights
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

$padding-large: 35rem;
$padding-big: 20rem;
$padding-medium: 10rem;
$padding-small: 6rem;

@media screen and (max-width: 1000px) {
  $padding-big: 16rem;
  $padding-medium: 8rem;
  $padding-small: 4rem;
}
@media screen and (max-width: 600px) {
  $padding-big: 16rem;
  $padding-medium: 8rem;
}

$skew-offset: 8rem;
