.ProjectGroup {
    width: 100rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1200px) {
        max-width: 80rem;
    }

    @media screen and (max-width: 900px) {
        max-width: 70rem;
    }

    @media screen and (max-width: 500px) {
        max-width: 60rem;
    }

    @media screen and (max-width: 420px) {
        width: 100%;
    }
}